:root{
    background: linear-gradient(140deg,rgb(0, 0, 0), rgb(145, 145, 145));
    animation:fundo 10s infinite ease;
    background-size: 600% 600%;
}
.fundoanima{
    background-size: 400% 400%;
    animation:fundo 10s infinite ease;
}
.fundoanimaaa{
    background-size: 400% 400%;
    animation:fundo 10s infinite ease;
}
@keyframes fundo{
    0%{background-position:0% 50%}
    50%{background-position:90% 50%}
    100%{background-position:0% 50%}
}
@keyframes fundo{
    0%{background-position:0% 50%}
    50%{background-position:90% 50%}
    100%{background-position:0% 50%}
}
@keyframes movimento{
    0% {clip-path: polygon(100% 100%, 100% 20%, 75% 35%, 30% 27%, 0 79%, 0 100%);}
    50% {clip-path: polygon(100% 100%, 100% 35%, 75% 20%, 45% 45%, 0 40%, 0 100%);}
    100% {clip-path: polygon(100% 100%, 100% 20%, 75% 35%, 30% 27%, 0 79%, 0 100%);}
}
* {
    margin: 0;
    padding: 0;
}
.algo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20,5vh);
}
nav{
    grid-column-start: 1;
    grid-row-start: 1 ;
    grid-row-end:4 ;
    background: linear-gradient(140deg,rgb(145, 145, 145), rgb(0, 0, 0));
    clip-path: polygon(0 0, 100% 0, 100% 24%, 69% 67%, 0 100%);
}

.fundoextra2{
    width: 100%;
    height: 100%;
    background-image: url(111.svg);
    grid-column-start: 1;
    grid-row-start: 1 ;
    grid-row-end:6 ;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 69% 67%, 0 70%);
    transition: 4s ease;
}
.fundoextra:hover{
    clip-path: polygon(0 0, 100% 10%, 95% 22%, 64% 62%, 0 100%);
}
nav ul{
    list-style-type: none;
    overflow: hidden;
} 
nav li{
    float: left;
}
nav li a img{
    width: 10vw;
    height: 10vh;
    margin: 0;
    padding: 0;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 2vw;
    margin-left: 4vw;
    text-shadow: 1px 1px black;
    text-decoration: none;
    font-size: 3vmax;
    transition: 350ms ease-out;
}
nav li a:hover,.linkcontat:hover, .contatos div a:hover{
    text-shadow: 1px 1px white;
    color: black;
    scale: 105%;
}
nav li>a{
    margin-left: 0vw;
}
main{
    grid-column-start: 1;
    grid-row-start: 4 ;
    grid-row-end:19 ;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
main>div{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2 ;
    grid-row-end:10 ;
    font-size: 4.4vmax;
    text-shadow: .5px .5px rgb(94, 94, 94);
}
.imagem{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 2 ;
    grid-row-end:10 ;
    clip-path: polygon(38% 0, 80% 0%, 100% 17%, 100% 44%, 70% 100%, 17% 100%, 0% 80%, 0 56%);
    background-image: url(111.svg);
}
.imagem img{
    height: 100%;
    width: 100%;
    clip-path: polygon(34% 2%, 78% 2%, 98% 18%, 98% 42%, 68% 98%, 18% 98%, 2% 78%, 2% 54%);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(140deg,gray, rgb(0, 0, 0));
    clip-path: polygon(100% 100%, 100% 0, 35% 27%, 0 79%, 0 100%);
}
.fundoextrape{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 18vh;
    background: linear-gradient(140deg,rgb(145, 145, 145), rgb(0, 0, 0));
    clip-path: polygon(100% 100%, 100% 20%, 75% 35%, 30% 27%, 0 79%, 0 100%);
    animation: movimento 8s infinite;
    background-image: url(111.svg);
}
.linkcontat,.contatos div a{
    text-decoration: none;
    color: white;
    transition: 350ms ease-out;
}
footer div:not(.contatos){
    float: right;
    margin-top: 1.5vw;
    padding: 1vh;
    padding-left: 5vw;
    font-size: 2vw;
    text-shadow: 1px 1px black;
    color: white;
}
@media only screen and (max-width: 800px) {

    main>div { 
       font-size: 3.5vmax; 
    }
    footer div:not(.contatos){
        font-size: 2.5vmax;
        padding-left: 1.5vw;
        margin-top: 4.5vw;
    }
    nav li a{
        font-size: 4.5vmax;
    }
 }